<mat-card class="general-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Stats</mat-card-title>
        <!--<mat-card-subtitle>Test</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><h5 style="margin-top: 6px;">Quality Score</h5></td>
                    <td><h3><span class="badge badge-success">1.75</span></h3></td>
                </tr>
                <tr>
                    <td><h5 style="margin-top: 6px;">Current Price</h5></td>
                    <td><h5 style="margin-top: 6px;">$278.94</h5></td>
                </tr>
            </tbody>
        </table>

    </mat-card-content>
</mat-card>