<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <sidebar-nav></sidebar-nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="pb-2 mb-3 border-bottom">
            <h1>Settings</h1>
            <breadcrumb></breadcrumb>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <mat-card class="ticker-count-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Tickers Table</mat-card-title>
                        <mat-card-subtitle>Data from the "Tickers" table</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Type</th>
                                    <th scope="col">#</th>
                                    <th scope="col">Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h5>Stock</h5></td>
                                    <td>1,234</td>
                                    <td>Dec. 19, 2019</td>
                                </tr>
                                <tr>
                                    <td><h5>ETFs</h5></td>
                                    <td>1,234</td>
                                    <td>Dec. 19, 2019</td>
                                </tr>
                                <tr>
                                    <td><h5>Mutual Funds</h5></td>
                                    <td>1,234</td>
                                    <td>Dec. 19, 2019</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card-content>
                </mat-card>

            </div>

            <div class="col-lg-6">
                <mat-card class="ticker-count-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Exchange Table</mat-card-title>
                        <mat-card-subtitle>Data from "Tickers" by Exchange</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Type</th>
                                    <th scope="col">#</th>
                                    <th scope="col">Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h5>NASDAQ</h5></td>
                                    <td>1,234</td>
                                    <td>Dec. 19, 2019</td>
                                </tr>
                                <tr>
                                    <td><h5>RUSSEL 500</h5></td>
                                    <td>1,234</td>
                                    <td>Dec. 19, 2019</td>
                                </tr>
                                <tr>
                                    <td><h5>SPIDER 500</h5></td>
                                    <td>1,234</td>
                                    <td>Dec. 19, 2019</td>
                                </tr>
                            </tbody>
                        </table>
                    </mat-card-content>
                </mat-card>

            </div>

        </div>
    </main>
</div>



