<h1>Chart Test</h1>

<script>
    candlestickChart();

    function getDataPointsFromCSV(csv) {
        var csvLines = points = [];
        csvLines = csv.split(/[\r?\n|\r|\n]+/);
        for (var i = 0; i < csvLines.length; i++) {
            if (csvLines[i].length > 0) {
                points = csvLines[i].split(",");
                dataPoints.push({
                    x: new Date(
                        parseInt(points[0].split("-")[0]),
                        parseInt(points[0].split("-")[1]),
                        parseInt(points[0].split("-")[2])
                    ),
                    y: [
                        parseFloat(points[1]),
                        parseFloat(points[2]),
                        parseFloat(points[3]),
                        parseFloat(points[4])
                    ]
                });
            }
        }
        chart.render();
    }

    $.get("netflix-stock-price.csv", getDataPointsFromCSV);
</script>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>