<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <sidebar-nav></sidebar-nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="pb-2 mb-3 border-bottom">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <!--TICKER NAME-->
                        <div *ngIf="this.companyExists; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock><h1>{{ticker.company?.companyName}}</h1></ng-template>
                        <ng-template #elseBlock><h1>[No Name]</h1></ng-template>

                        <!--TICKER SYMBOL-->
                        <h5>({{ticker?.ticker}})</h5>
                    </div>

                    <div class="col-lg-3">
                        <mat-form-field>
                            <mat-label>Timeframe</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option>None</mat-option>
                                <mat-option value="30days">30 Days</mat-option>
                                <mat-option value="60days">60 Days</mat-option>
                                <mat-option value="90days">90 Days</mat-option>
                                <mat-option value="120days">120 Days</mat-option>
                                <mat-option value="150days">150 Days</mat-option>
                                <mat-option value="180days">180 Days</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
            </div>
            
            <breadcrumb></breadcrumb>
        </div>

        <mat-tab-group>

            <!--GENERAL-->
            <mat-tab label="General">
                <br />
                <general></general>
            </mat-tab>

            <mat-tab label="Chart"> <chart></chart> </mat-tab>
            <mat-tab label="S&R"> S&R </mat-tab>
            <mat-tab label="Trade Plan"> Trade Plan </mat-tab>
            <mat-tab label="Company Info">
                <br />
                <company-info></company-info>
            </mat-tab>

            <!--RAW DATA-->
            <mat-tab label="Raw Data">
                <br />
                <raw-data></raw-data>
            </mat-tab>

        </mat-tab-group>

    </main>
</div>



