<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">MIDAS</a>

  <div class="row">
    <div class="col-lg-6">
      <!--Notifications Here-->
    </div>
    <div class="col-lg-12">

        <mat-menu #appMenu="matMenu">
            <a href="dashboard/settings">
            <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                Settings</button>
            </a>
            <hr />
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon style="color: white;">more_vert</mat-icon>
        </button>

    </div>
  </div>

</nav>
