<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h5>Overview</h5>
      </div>
      <div class="col-md-6">
        <time-export></time-export>
      </div>
    </div>
  </div>
  <div class="panel-body">

    <div class="table-responsive">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th>Quality Score</th>
            <th>Name</th>
            <th>Symbol</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-success">1.82</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-danger">.52</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">.91</span></td>
            <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
            <td>AAPL</td>
            <td>275.98</td>
            <td>289.12</td>
            <td>215.95</td>
            <td>237.02</td>
            <td>2,073,943</td>
          </tr>


        </tbody>
      </table>
    </div>

  </div>
</div>
