<div class="main-bg">
  <div class="bg-general">
    <div class="container">
      <div class="card card-login mx-auto text-center bg-dark">
        <div class="card-header mx-auto bg-dark">

          <div class="row">
            <div class="col-lg-3 col-lg-offset-3">
              <img src="./assets/images/midas-logo-trans.png" class="img-responsive w-100" alt="Midas Systems Logo">
            </div>
            <div class="col-lg-9">
              <p class="logo-font">MIDAS SYSTEMS</p>
            </div>
          </div>

        </div>
        <div class="card-body">
          <form action="" method="post">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faUser" size="xs"></fa-icon></span>
              </div>
              <input type="text" name="email" class="form-control" placeholder="Email">
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]="faKey" size="xs"></fa-icon></span>
              </div>
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <br />
            <div class="row">
              <div class="col-lg-4 offset-lg-4 justify-content-md-center">
                <button type="button" class="btn btn-lg btn-light"><fa-icon [icon]="faSignInAlt"></fa-icon> Login</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
