<app-nav-menu></app-nav-menu>
<div class="container-fluid">
    <sidebar-nav></sidebar-nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="pb-2 mb-3 border-bottom">
            <h1>Ticker List</h1>
            <breadcrumb></breadcrumb>
        </div>

        <time-export></time-export>
        <br/>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ticker</th>
                        <th>Price Currency</th>
                        <th>Exchange</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>53459</td>
                        <td><a href="dashboard/ticker/53459"><span class="badge badge-success">AAPL</span></a></td>
                        <td>USD</td>
                        <td>NASDAQ</td>
                    </tr>
                    <tr *ngFor="let t of tickers" >
                        <td>{{t.id}}</td>
                        <td><a href="dashboard/ticker/{{t.id}}"><span class="badge badge-success">{{t.ticker}}</span></a></td>
                        <td>{{t.priceCurrency}}</td>
                        <td>{{t.exchange}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </main>
</div>

