<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h5>Overview</h5>
      </div>
    </div>
  </div>
  <div class="panel-body">

    <div class="table-responsive">
      <table class="table table-hover table-striped table-sm">
        <thead>
          <tr>
            <th>Quality Score</th>
            <th>Name</th>
            <th>Symbol</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>
            <tr>
                <td><span class="badge badge-success">1.82</span></td>
                <td><a class="font-weight-bold" href="stock">Apple Inc.</a></td>
                <td>AAPL</td>
            </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>
